---
BasedOnStyle: Google
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: 'false'
BreakConstructorInitializers: BeforeComma
ColumnLimit: '100'
FixNamespaceComments: 'true'
IncludeBlocks: Regroup
IndentWidth: '4'
NamespaceIndentation: Inner
SpacesBeforeTrailingComments: '1'
Language: Cpp
Standard: Cpp11
IncludeCategories:
  - Regex: '^<types/'
    Priority: '4'
  - Regex: '^<(kernel|fs|net|driver)/'
    Priority: '5'
  - Regex: '^<.*\.h>'
    Priority: '3'
  - Regex: '^<.*>'
    Priority: '2'
  - Regex: '.*'
    Priority: '1'

...
